html {
  margin: 0;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
*/ 

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}
